
body {
    background-color: lightblue;
}

h1, h2, h3 {
    text-align: center;
}

#form1 {
    text-align: center;
}

#signin, #login {
    height: 50px;
    width: 100px;
}

form {
    border: 3px black solid;
    margin: 40px;
    padding: 20px;
    text-align: center;
}